@font-face {
  font-family: 'iconfont';  /* project id 1834928 */
  src: url('//at.alicdn.com/t/font_1834928_34kz3i6ir6g.eot');
  src: url('//at.alicdn.com/t/font_1834928_34kz3i6ir6g.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1834928_34kz3i6ir6g.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1834928_34kz3i6ir6g.woff') format('woff'),
  url('//at.alicdn.com/t/font_1834928_34kz3i6ir6g.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1834928_34kz3i6ir6g.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

